{% extends '../base.html' %}
{% load static %}

{% block content %}
  <!-- Product Details -->
  <section class="section product-detail">
    <div class="details container">
      <div class="left">
        <div class="main" style="margin-top:-90px">
          <img src="{{product.image.url}}" alt="" />
        </div>
        
      </div>
      <div class="right" id="mob-right">
        <h1>{{product.title}}</h1>
        <div class="price">₹ {{product.price}}</div>
        <form class="form">
          <a href="{% url 'order:checkout' product.slug %}" class="addCart" style="background-color: #0B5ED7"> Enter Now</a>
        </form>
        <h3>PRODUCT DETAIL</h3>
        <p>
          {{product.description}}
        </p>
      </div>
    </div>
  </section>

  


{% endblock %}
