{% extends '../base.html' %}
{% load static %}

{% block content %}
  <!-- Product Details -->
  <section class="section product-detail">
    <div class="details container">
      <div class="left">
        <div class="main" style="margin-top:-90px">
          <img src="{{product.image.url}}" alt="" />
        </div>
        
      </div>
      <div class="right" id="mob-right">
        <h1>{{product.title}}</h1>
        <div class="price">₹ {{product.price}}</div>
        <form class="form">
          <a href="{% url 'order:checkout' product.slug %}" class="addCart" style="background-color: #0B5ED7"> Enter Now</a>
        </form>
        <h3>PRODUCT DETAIL</h3>
        <p>
          {{product.description}}
        </p>
      </div>
    </div>
  </section>

    {% comment %} <div class="b-example-divider"></div> {% endcomment %}

      <!-- ###################################### ===> Recommended Profile <=== ############################################ -->

  <section class="section featured">
    <div class="title">
      <h2 id="h-text" class="heading" >People who joined this giveaway</h2>
      <!-- <span>Select from the premium product brands and save plenty money</span> -->
    </div>

    <div class="row container">
      <div class="swiper-container slider-2">
        <div class="swiper-wrapper">
          {% for key, value in user_dict.items %}
            <div class="swiper-slide">
              <div class="product" >
                <div class="img-container" >
                  <img src="{{value}}" alt="" />
                </div>
                <div class="bottom">
                  <div class="price">
                  
                    <span>{{key}}</span>
              
                  </div>
                  <a href="#"></a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>

    </div>

     <!-- Carousel Navigation -->
    <div class="arrows d-flex">
       <div class="custom-next d-flex">
          <i class="bx bx-chevrons-right swiper-icon"></i>
        </div>
        <div class="custom-prev d-flex">
          <i class="bx bx-chevrons-left swiper-icon"></i>
        </div>
    </div>
    {% comment %} <a class="btn btn-outline-dark" id="mob-btn" href="#" role="button">View</a> {% endcomment %}

  </section>

  


{% endblock %}
