{% extends '../base.html' %}
{% load static %}


{% block content %}
\  <!-- #########################################################People who participated #######################################  -->
  <section class="section products">
    <div class="title">
      <h1  id="h-text" class="heading" >Giveaway's</h1>
      </i> </span>
    </div>

    <div class="product-layout">
      
      {% for product in product %}
        <div class="product">
          <div class="img-container">
            <img onclick="window.open('{{product.get_absolute_url}}')" src="{{ product.image.url }}" alt="" />
          </div>
          <div class="bottom">
            <a href="{{product.get_absolute_url}}">{{ product.title|slice:":50" }}</a>
            <div class="price">
              <span style="font-size: smaller;">{{product.description}}</span>
            </div>
          </div>
        </div>
      {% endfor %}

      {% for product in product %}
        <div class="product">
          <div class="img-container">
            <img src="{{ product.image.url }}" alt="" />
          </div>
          <div class="bottom">
            <a href="{{product.get_absolute_url}}">{{ product.title|slice:":50" }}</a>
            <div class="price">
              <span style="font-size: smaller;">{{product.description}}</span>
            </div>
          </div>
        </div>
      {% endfor %}
     </div>
    </div>

  </section>

{% endblock %}