<!DOCTYPE html>
{% load static %}
{% comment %} f3f3f3 {% endcomment %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
  />
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/order/checkout.css' %}">
   
</head>
<body>

  <div class="b-example-divider"></div>

<div class='container'>
  <div class='window'>
    <div class='order-info'>
      <div class='order-info-content'>
        <h2>Order Summary</h2>
                <div class='line'></div>
        <table class='order-table'>
          <tbody>
            <tr>
              <td><img src="{{product.image.url}}" class='full-width'></img>
              </td>
              <td>
                <br> <span class='thin'>{{product.title}}</span>
                <br > win <br> <span class='thin small'>{{product.title}}....<br><br></span>
              </td>

            </tr>
            <tr>
              <td>
                <div class='price'>₹ {{product.price}}</div>
              </td>
            </tr>
          </tbody>

        </table>
        <div class='line'></div>
        
        <div class='total'>
          <span style='float:left;'>
            <div class='thin dense'>GST 18%</div>
            <div class='thin dense'>Delivery</div>
            TOTAL
          </span>
          <span style='float:right; text-align:right;'>
            <div class='thin dense'>$68.75</div>
            <div class='thin dense'>$4.95</div>
            ₹ {{product.price}}
          </span>
        </div>
  </div>
    </div>
        <div class='credit-info'>
          <div class='credit-info-content'>
            
            <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
            Announcement date:  Announced soon

            <span  style="color: red; margin-top: 20px;">*</span> By clicking on proceed you will be atomatically align with our <a href="#">term and condition</a>
            
            <button  href="?action=create_payment" class='pay-btn'><a style="color: white;  text-decoration: none;" href="?action=create_payment">Proceed<a/></button>
          </div>

        

        </div>
      </div>
    </div>




<!-- Payment processeor -->
{% if order is not None %}
<!-- Razorpay Integrations -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "rzp_test_tRzIzsfuB2WrqP", // Enter the Key ID generated from the Dashboard
    "name": "Google Giveaway",
    "description": "Payment for {{product.title}}",
    "image": "#",
    "order_id": "{{order.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 2
    "callback_url": "{% url 'order:verify_payment' %}",
    "prefill": {
        "name": "{{user.user_name}}",
        "email": "{{user.email}}",
        "contact": "9999999999"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
</script>
{% endif %}

{% if error %}
<script>
   window.onload = () =>{
     alert("{{error}}")
   }
</script>
{% endif %}
  
</body>
</html>
